body {
    font-family: 'Inika', serif;
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    width: 100%;
    padding: 20px 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 36px;
    color: #5e4630;
    margin: 0 auto;
}

header .logout {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: #5e463096;
    text-decoration: none;
    padding: 10px 20px;
    background: #aaa59a62;
    font-size: 16px;
    font-weight: bold;
}

.admin-title {
    color: #5e4630;
    text-align: center;
    padding: 20px 20px;
    font-size: 28px;
    margin: 20px 0;
    font-weight: bold;
}

.search-section {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
}

.search-section form {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 100%;
}

.search-section input,
.search-section select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    min-width: 150px;
    margin: 5px;
    background-color: #f2f2f286;
}

.search-section button,
.search-section .reset-btn {
    padding: 10px 15px;
    border: none;
    background-color: #5a463bb4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.search-section .reset-btn {
    background: #c7a97bd2;
    text-decoration: none;
}

.search-section .long-input {
    flex-grow: 2;
    width: auto;
    min-width: 350px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.table-section {
    margin: 20px auto;
    max-width: 1200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th {
    background-color: #5e4630c2;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

table td {
    padding: 15px;
    text-align: left;
    color: #5e4630;
    border-bottom: 1px solid #ddd;
}

table th:first-child,
table td:first-child,
table th:last-child,
table td:last-child {
    border-left: none;
    border-right: none;
}

.details-btn {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #c5bab5ec;
    text-decoration: none;
    border-radius: 5px;
}

.details-btn:hover {
    background: #5e4630;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal:target {
    display: flex;
}

.modal-content {
    background: white;
    padding: 80px;
    border-radius: 10px;
    width: 800px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    line-height: 3;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.delete-btn {
    background: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0;
    text-align: center;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 975px;
    gap: 10px;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    color: #5a463b;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}

.pagination a.active {
    font-weight: bold;
    background-color: #5a463b;
    color: #fff;
}